**/__pycache__/
**/out/
**/drafts/
**/gallery/
**/povs/
**/rendir/
**/stills/
**/logs/
**/editspecs/
**/specs/
**/civilization/
**/combined/
**/out*/
**/archive/
**/.git/
**/node_modules/
**/collections/
**/out_opensea*/
*~
last.pov
optimized_planet.gif
planet.gif
