*~
**/node_modules/*
**/rendir/*
**/drafts/*
**/stills/*
**/gallery/*
**/specs/*
**/povs/*
**/editspecs/*
**/civilizations/*
**/rename/*
**/logs/*
**/out/*
**/archive/*
*key*
**/website/.git
**/website/planets/*
exogeny_server/*
planet.mp4
optimized_planet.gif
last.pov
__pycache__

