@font-face {
    font-family: 'Alien';
    src: url('/fonts/AlienSpace.ttf') format('ttf'),
	 src: url('/fonts/AlienSpace.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    //font-family: 'Audiowide', cursive;
    //font-family: 'Kode Mono', cursive;
    //font-family: 'Atomic Age', cursive;
    //font-family: 'Orbitron', cursive;
    font-family: 'Alien'
}

.floatingLabel {
    align-items: left;
    align-text: left;
    font-color: white;
    transition: opacity 4s ease-in ease-out;
    font-size: clamp(14pt, 2vw, 2vw);
}

.nav-link {
    background: transparent;
    color: white;
    margin-left: 1vw;
    border-radius: 0.4 vw;
    font-size: 1vw;
}

.nav-item, .nav-top {
    color: white;
    font-size: 1vw;
}

ul {
    margin-left: 4vw;
}

.galleryWindow {
    width: clamp(260px, 20%, 20%);
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    border: 1px grey solid;
    font-size: clamp(16pt, 0.8vw, 0.8vw);
}

.shortsWindow {
    height: 50%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px grey solid;
    font-size: clamp(16pt, 0.8vw, 0.8vw);
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 100;
}
