<html>
  <head>
    <title>Exogeny Planet Gallery</title>

    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta charset="utf-8">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <meta name="description" content="">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Courier+Prime&family=Megrim&family=Orbitron&display=swap" rel="stylesheet">

    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="../../static/css/planetor.css"/>
  </head>
  
  <body style="background-image: url(/media/images/high_density_stars.jpg); background-size: cover; font: monaco; color: white; width:95%; height:95%;">
    
    <div style="height: 10vh; z-index: 100;">
      <nav id="navheader" class="navbar navbar-expand-lg navbar-dark bg-transparent"
	   style="background: transparent; border: 0; z-index: 100; font-size: clamp(14pt, 1vw, 1vw)">
	<script src="../../static/js/headermenu.js"></script>
      </nav>
    </div>
    
    <div class="container-fluid bg-image" style="margin: 0 auto; font-color: white; align: bottom;">
      
      <div id="gallery" style="margin: 0 auto; display: flex; justify-content: center; flex-wrap: wrap;">
	
	<script type="module">

	  var GalleryDir = "/app/planetor/out/gallery";
	  var StillDir = "/app/planetor/out/stills";
	  var LifeformDir = "/app/planetor/out/lifeforms";
	  
	  var Planets = [];

	  async function LoadLocalPlanets() {
	      let planets = [];
      	      $.ajax({
		  url: `/gallery?directory=${GalleryDir}&mask=mp4$&count=9999`,
		  success: async function(response) {
		      for (let data of response.tags) {
			  let planet = data;
			  Object.assign(planet, data.editspec)
			  planets.push(planet);
		      }
		      displayPlanets(planets);
		  },
		  error: function(x, text, err) {
		      alert(text);
		  }
	      })	
	  }

	  function show(item) {
	      item.style.visibility = 'visible';
	      item.style.display = 'block';
	  }
	  
	  function hide(item) {
	      item.style.visibility = 'hidden';
	      item.style.display = 'none';
	  }
	  
	  document.playvideo = async function(video) {
	      video.play();
	      if (video.requestFullscreen) {
		  video.requestFullscreen();
	      } else if (video.mozRequestFullScreen) { // Firefox
		  video.mozRequestFullScreen();
	      } else if (video.webkitRequestFullscreen) { // Chrome, Safari and Opera
		  video.webkitRequestFullscreen();
	      } else if (video.msRequestFullscreen) { // IE/Edge
		  video.msRequestFullscreen();
	      }
	  }

	  function displayPlanets(planets) {
	      let max = 30;
	      let gallery = document.getElementById("gallery");
	      document.body.append(gallery);
	      
	      planets.forEach((planet) => {
		  let planetDiv = document.createElement("div");
		  planetDiv.className = "galleryWindow";
		  let identity = planet.identity;

		  Planets[identity] = planetDiv;
		  
		  planetDiv.innerHTML = `<video style="width: 100%; id="planetVideo" onclick="this.paused ? play() : pause();" ondblclick="document.playvideo(this)" loop="loop" preload="none" src="/gallery/planet_${identity}.mp4" poster="/stills/planet_${identity}.gif"</video>`;
		  
		  //let upperLeft = document.createElement("div");
		  //upperLeft.innerHTML = `<span style="font-weight: bold;">${planet.tokenid}</span>`;
		  //Object.assign(upperLeft.style, {position: "absolute", top: "1%", left: "2%"});
		  //planetDiv.appendChild(upperLeft);
		  
		  let upperRight = document.createElement("div");
		  Object.assign(upperRight.style, {position: "absolute", height: "15%", width: "15%", top: "6%", right: "4%"});
		  planetDiv.appendChild(upperRight);

		  let lifeformImage = document.createElement("img");
		  lifeformImage.src = "/lifeforms/"+planet.lifeform_image;
		  Object.assign(lifeformImage.style, {pointerEvents: 'auto', visibility: 'hidden', display: 'none', position: 'absolute', left: 0, top: 0, width: '100%', height: '100%', zIndex: 20})
		  planetDiv.appendChild(lifeformImage);
		    
		  let lifeformIcon = document.createElement("img");

		  lifeformIcon.src = `/media/images/${planet.lifeform}.png`;
		  Object.assign(lifeformIcon.style, {height: "100%"});
		  lifeformIcon.lifeformImage = lifeformImage;
		  lifeformIcon.addEventListener('mousedown', function() {
		      show(this.lifeformImage);
		  });
		  lifeformImage.addEventListener('mouseup', function() {
		      hide(this);
		  });
		  upperRight.appendChild(lifeformIcon);

		  let lowerLeft = document.createElement("div");
		  lowerLeft.innerHTML = `<span onclick='window.open("/shorts/#${planet.identity}", "shorts")'>${planet.star_index} ${planet.star_system} ${planet.planet_index}</span>`;
		  planetDiv.appendChild(lowerLeft);
		  Object.assign(lowerLeft.style, {position: "absolute", bottom: "2%", left: "2%" });
		  
		  let lowerRight = document.createElement("div");
		  lowerRight.innerHTML = `<span id="classification">${planet.evaluation}<span>`;
		  Object.assign(lowerRight.style, {position: "absolute", bottom: "2%", right: "4%"});
		  planetDiv.appendChild(lowerRight);
		  
		  gallery.appendChild(planetDiv);
	      });
	  }
	  
	  LoadLocalPlanets();
	  
	  </script>
      </div>
  </body>
</html>
