@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-image: url(/image/stars.jpg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-image: url(/image/stars.jpg);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background-image: url(/image/stars.jpg);
}
